<div class="container">
  <div class="row">
    <h1 class="font-weight-bold mx-auto">About</h1>
  </div>
  <div class="row">
    <p class="text-center mx-auto">
      おそうじマニア！はユーザによるオススメ掃除メソッドの投稿サイトです。<br>
      掃除メソッドの投稿・閲覧以外にもコメントやいいね！で参考になったことを評価したり、<br>
      マイページではカレンダーに掃除のスケジュールも立てることができます。<br>
      みんなで快適でキレイな掃除ライフを目指しましょう！
    </p>
  </div>
</div>