<div class="container">
  <h2 class="m-5">投稿履歴一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>投稿日時</th>
        <th>投稿者</th>
        <th>公開ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>

<div class="d-flex justify-content-center">

</div>